* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #6d9AC4;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    text-align: center;
    margin: 20px;
    color: black;
}

form {
    background-color: white;
    width: 400px;
    height: 550px;
    display: flex;
    flex-direction: column;
    padding: 2em;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

}

label {
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: 14px;
    margin-bottom: 4px;
}

input {
    width: 100%;
    height: 40px;
    text-indent: 10px;
    background-color: #f0f0f0;
    border-radius: 4px;
    outline: 2px solid gray;
    border: none;

    
}
.check{
    display: flex;
    align-items: center;
}
.check>input{
    width: 20px;
    height: 20px;
    outline: none;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
    accent-color: #ee5684;
}

button {
    width: 100%;
    height: 34px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #ee5684;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.forgot{
    text-align: right;
    color: gray;
    text-decoration: none;
}
.link{
    width: 100%;
    height: 1.5px;
    background-color: gray;
    margin-top: 20px;
    margin-bottom: 20px;

}


.icons {
    display: flex;
    list-style: none;
    justify-content: center;

}
.icons li{
    margin-right: 20px;
    border: 3px solid red;
    width: 34px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: 50%;
    font-size: 14px;
}
.text{
    margin-top: 20px;
    text-align: center;
    color: gray;

}
.text a{
color: gray;
}

